[run]
branch = True
source =
    core
    agrostudies_project

[report]
show_missing = True
skip_covered = True
omit =
    */migrations/*
    */static/*
    */staticfiles/*
    */templates/*
    manage.py
    */tests/*
    */core/tests/*
    core/views*.py
    core/admin.py
    core/signals.py
    core/oauth_utils.py
    core/views_updated.py
    core/management/*
    core/templatetags/*
    agrostudies_project/asgi.py
    agrostudies_project/wsgi.py
    agrostudies_project/settings.py
